/* 0. Breakpoints ==================================== */
// Small tablets and large smartphones (landscape view)

$breakpoint-phone: 576px;

// Small tablets (portrait view)

$breakpoint-tablet: 768px;

// Tablets and small desktops

$breakpoint-desktop: 992px;

// Large tablets and desktops

$breakpoint-xl: 1200px;

/* 1. Colors ========================================= */

$green: #1B846F;
$yellow: #FEBC32;
$pink: #ffdee9;
$white: #fff